<div class="card" id="book_detail_card">

  <div class="card-body">

    <%= render "layouts/_shared/detail/book/detail_card/heading", { book: book } %>

    <br>

    <%= render "layouts/_shared/detail/book/detail_card/content", { book: book } %>

  </div>
  
</div>
