<div class="px-2">

  <%= link_to book.title, book, class: "list_link list_link_hover" %>
  <br>
  <small class="text-muted">
    <%= link_to book.author.name, book.author, class: "list_link list_link_hover" %>
  </small>

</div>
