<h3 class="card-title"><%= @author.name %></h3>

<p class="card-text" id="summary">

  <% if @author.bio == "" || @author.bio == nil %>
    author summary not found...
  <% else %>
    <%= simple_format(@author.bio.split("\n").first) %>
  <% end %>

</p>

<p class="card-text" id="db">

  <small class="text-muted">
    Created: <%= author.created_at.strftime("%Y %m %d") %>
  </small>

  <br>

  <small class="text-muted">
    Last updated: <%= author.updated_at.strftime("%Y %m %d") %>
  </small>

</p>
