<div id="options">

<ul class="nav">

  <% if true %>

    <li class="nav-item">
      <%= link_to '<button type="button" class="btn btn-sm btn-outline-secondary mr-2 my-sm-0">Edit</button>'.html_safe, edit_author_path(@author) %>
    </li>
    
    <li class="nav-item">
      <%= button_to "Delete", @author, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, :class => "btn btn-sm btn-outline-secondary mr-2 my-sm-0" %>
    </li>

  <% end %>

</ul>

</div> 