<div class="card" id="author_detail_card">

  <div class="card-body">

    <%= render "layouts/_shared/detail/author/detail_card/heading", { author: author } %>

    <br>

    <%= render "layouts/_shared/detail/author/detail_card/content", { author: author } %>

  </div>
  
</div>


