<div class="card m-3" id="author_metadata_card">

  <div class="row no-gutters" id="row.1">

    <div class="col-md-5" id="col.1">
      <%= render "layouts/_shared/detail/author/detail_card/heading/metadata_card/image", author: author %>
    </div>

    <div class="col-md-7" id="col.2">

      <div class="card-body" id="body">

        <%= render "layouts/_shared/detail/author/detail_card/heading/metadata_card/heading", author: author %>
      
        <%= render "layouts/_shared/detail/author/detail_card/heading/metadata_card/options", author: author %>

      </div>

    </div>

  </div>

</div>


