<div class="card mb-3" id="book_heading_card">

  <div class="row no-gutters" id="row.1">

    <div class="col-md-7" id="col.1">
      <%= render "layouts/_shared/detail/book/detail_card/heading/metadata_card", book: book %>
    </div>

    <div class="col-md-5" id="col.2">
      <%= render "layouts/_shared/detail/book/detail_card/heading/book_user_card", { book: book } %>
    </div>

  </div>

</div>
