<% book_count = Book.all.count %>

<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand" href="#"><h2>Books</h2></a>

  <span class="badge badge-secondary badge-pill" id="badge">
    <%= book_count %>
  </span>

  <ul class="nav mr-auto">

    <li class="nav-item">
      <a class="nav-link active" href="/books">Paginated List</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link active" href="#">Alphabetized List</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="#">Latest Books</a>
    </li>

    <% if true %>
      <li class="nav-item">
        <a class="nav-link active" href="<%= new_book_path %>">New Book</a>
      </li>
    <% end %>

  </ul>

</nav>