<div class="text-center" id="footer">
  
  <br><br><br>

  <small>
    <a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Freepik - Flaticon</a> 
    <br>
    <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
  </small>

</div>