<div class="card mb-3" id="author_heading_card">

  <div class="row no-gutters" id="row.1">

    <div class="col-md-7" id="col.1">
      <%= render "layouts/_shared/detail/author/detail_card/heading/metadata_card", { author: author } %>
    </div>

    <div class="col-md-5" id="col.2">
      <%= render "layouts/_shared/detail/author/detail_card/heading/author_user_card", { author: author } %>
    </div>

  </div>

</div>
