<div class="card m-3" id="book_metadata_card">

  <div class="row no-gutters" id="row.1">

    <div class="col-md-5" id="col.1">
      <%= render "layouts/_shared/detail/book/detail_card/heading/metadata_card/image", { book: book } %>
    </div>

    <div class="col-md-7" id="col.2">

      <div class="card-body" id="body">

        <%= render "layouts/_shared/detail/book/detail_card/heading/metadata_card/heading", { book: book } %>
      
        <%= render "layouts/_shared/detail/book/detail_card/heading/metadata_card/options", { book: book } %>

      </div>

    </div>

  </div>

</div>


